/* index-css */

body {
  font-family: 'Inter';
}

.hero {
  position: relative;
  background-image: url(../assets/images/Pets-Header.jpg);
  background-size: contain;
  background-position: -200px;
  background-repeat: no-repeat;
}

.hero-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'piepie';
  font-size: 48px;
  width: 500px;
  gap: 52px;
  left: 50px;
}

.hero img {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.hero-button {
  font-size: 24px;
  padding: 12px 40px;
  font-weight: 600;
}

/* Info section */
.info-section {
  padding: 60px;
  justify-content: center;
  gap: 50px;
}
.info-item {
  width: 300px;
  gap: 24px;
}
.info-icon {
  width: 100px;
}
.info-section p {
  max-width: 400px;
}

/* Products section */
.products-section {
  padding: 50px 0px;
}
.products-tag {
  font-size: 16px;
  letter-spacing: 4px;
}

.products-title {
  font-size: 48px;
}

.products-wrapper {
  padding: 50px;
  gap: 74px;

  /* max-width: 90%; */
}
.categories {
  width: 100%;
  padding: 1rem;
  gap: 50px;
  justify-content: center;
}

.categories > span {
  border-radius: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.categories span:hover {
  background-color: var(--pets-yellow);
  outline: 1px solid black;
}
.active {
  background-color: var(--pets-yellow);
  outline: 1px solid black;
}
.card {
  width: 300px;
  padding: 20px;
  gap: 20px;
}
.card-title {
  font-size: 20px;
}
.favourite {
  position: absolute;
  width: 40px !important;
  height: 40px !important;
  right: 2px;
  top: -8px;
  z-index: 2;
}
.card-description {
  font-size: 16px;
}
.card img {
  width: 100%;
  height: 100%;
}
.card-body {
  position: relative;
  flex-grow: 1;
}
.card-info {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110%;
  height: 110%;
  background-color: #ffe0ca;
  text-align: center;
  border-radius: 16px;
}
.card-info:hover {
  opacity: 0.95;
}

.card-button {
  position: relative;
  font: inherit;
  font-size: 16px;
  padding: 8px 38px;
  border: 1px solid var(--pets-black);
  z-index: 0;
}
/* .card-button::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid black;
  top: 10px;
  left: 10px;
  z-index: 0;
  border-radius: 8px;
} */

/* Footer*/
/* 16,48,20 */

.footer-left {
  width: 50%;
  padding: 120px 60px;
  gap: 60px;
}
.footer-header {
  gap: 12px;
}
.footer-header-1 {
  font-size: 16px;
}
.footer-header-2 {
  font-size: clamp(20px, 4vw, 48px);
  white-space: nowrap;
}
.footer-header-3 {
  font-size: 20px;
  font-size: clamp(10px, 3vw, 20px);
  white-space: nowrap;
}

.footer-socials {
  gap: 48px;
}

.footer-social {
  gap: 20px;
}
.social-title {
  font-size: 25px;
}
.social-tag {
  font-size: 16px;
}
.footer-right img {
  width: 100%;
  height: 100%;
}
