body {
  font-family: 'Inter';
}
:root {
  --input-font-size: 1rem;
  --label-font-size: 1rem;
  --placeholder-font-size: 0.8rem;
}
input,
select,
textarea {
  border: none;
  border-bottom: 1px solid black;
  background-color: none;
  /* border-radius: 0.25rem; */
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}
.sign-in-wrapper {
  /* background-color: red; */
  height: 100%;
  /* border: 1px solid black; */
  gap: 20px;
  width: 50%;
}

.input-form {
  gap: 20px;
  height: 100%;
  border: 1px solid black;
  height: fit-content;
  padding: 30px;
  border-radius: 8px;
  min-width: 300px;
}

label {
  font-size: var(--label-font-size);
}
input {
  padding: 3px 5px;
  font-size: var(--input-font-size);
}
input::placeholder {
  font-size: var(--placeholder-font-size);
}

.input-container {
  gap: 5px;
}

.form-buttons {
}
.form-button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

footer {
  padding: 50px 0;
}
.footer-socials {
  gap: 48px;
}

.footer-social {
  gap: 20px;
}
.social-title {
  font-size: 25px;
}
.social-tag {
  font-size: 16px;
}

.error {
  margin-top: 8px;
}
