@font-face {
  font-family: 'piepie';
  src: url('../assets/fonts/Piepie.otf');
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
Html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Inter';
}
a {
  text-decoration: none;
  font: inherit;
}

button {
  /* appearance: none; */
  font-family: 'Inter';
  border: none;
  width: fit-content;
}

:root {
  /* colors */
  --pets-grey: rgba(26, 26, 26, 0.6);
  --pets-black: #1a1a1a;
  --pets-yellow: #eaf586;
  --pets-yellow-light: #f8f9da;
  --pets-off-white: #fbfbf9;
  --pets-beige: #ffebdd;
  --pets-gradient: linear-gradient(
    180deg,
    #ededf5 0%,
    rgba(246, 246, 210, 0.24) 100%
  );

  /* fonts */
}

.inter {
  font-family: 'Inter', sans-serif !important;
}
.piepie {
  font-family: 'PiePie';
}
button {
  cursor: pointer;
}
/* font-colors */
.grey {
  color: var(--pets-grey);
}
.black {
  color: var(--pets-black);
}
.yellow {
  color: var(--pets-yellow);
}
.gradient {
  color: var(--pets-gradient);
}

.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-900 {
  font-weight: 900;
}

.fs-16 {
  font-size: 16px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.fs-28 {
  font-size: 28px;
}
.fs-42 {
  font-size: 42px;
}
.fs-48 {
  font-size: 48px;
}
.fs-64 {
  font-size: 64px;
}

.bg-grey {
  background-color: var(--pets-grey);
}
.bg-black {
  background-color: var(--pets-black);
}
.bg-yellow-light {
  background-color: var(--pets-yellow-light);
}
.bg-yellow {
  background-color: var(--pets-yellow);
}
.bg-beige {
  background-color: var(--pets-beige);
}
.bg-white {
  background-color: white;
}
.bg-gradient {
  background-color: var(--pets-gradient);
}

/* Flex */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: start;
}
.justify-end {
  justify-content: end;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: start;
}
.items-end {
  align-items: end;
}

.justify-self-end {
  justify-self: end;
}
.justify-self-center {
  justify-self: center;
}
.justify-self-start {
  justify-self: start;
}
.align-self-end {
  align-self: end;
}
.align-self-start {
  align-self: start;
}
.align-self-center {
  align-self: center;
}
.wrap {
  flex-wrap: wrap;
}
.grow {
  flex-grow: 1;
}

/* border-radius */
.br-50 {
  border-radius: 50%;
}
.br-8 {
  border-radius: 8px;
}
.br-16 {
  border-radius: 16px;
}

/* on-off */
.hide {
  display: none !important;
}
.show {
  display: block !important;
}

/* text */
.text-center {
  text-align: center;
}

.error {
  font-size: small;
  color: red;
}
